.table-custom {
  background: rgba(0, 0, 0, 0.3);
  th, td {
    color: #fff;
  }
  th {
    border: none;
  }
  td {
    // border-top-color: transparent;
  }
  &.no-border {
    td {
      border-top: none;
    }
  }
}

.accordion__body {
  display: none;
  &.show {
    display: block;
  }
}